<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
  <meta name="description" content="页面简介">
  <title>WeiXin Page Template</title>

  <style>
  .wx-thumbnail {
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
  }
  </style>
</head>
<body>
  <!-- 分享到朋友圈后的图标，最小大小为400×400 -->
  <img src="" alt="" class="wx-thumbnail">
</body>
</html>